{{ define "body" }}

<body class="post-template-default single single-post single-format-standard ct-body singular singular-post not-front standard">
  {{ end }}


  {{ define "main" }}
  <div id="loop-container" class="loop-container">
    {{ if and (isset .Params "image") .Params.image }}
    <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-standard-2 tag-tagalicious tag-travel entry full-without-featured odd excerpt-1">

      <div class='featured-image lazy lazy-bg-image' style="background-image: url({{$.Site.Params.img_base_url}}{{.Params.image}})">
      </div>

      {{ else }}

      <div class="post type-post status-publish format-standard hentry category-standard category-travel entry full-without-featured odd excerpt-1">

        {{ end }}
        <div class="entry-meta">
          <span class="date">{{ .Date.Format "2 Jan 2006" }}</span>

          {{ range .Params.categories }}
          <span> / </span>
          <span class="category">
            <a href="/categories{{ . | relURL }}">{{ . }}</a>
          </span>
          {{ end }}


        </div>
        <div class='entry-header'>
          <h1 class='entry-title'> {{ .Title }}</h1>
        </div>
        <div class="entry-container">
          <div class="entry-content">
            <article>
              {{ .Content }}
            </article>
          </div>
          <!--  <div class="sidebar sidebar-after-post-content" id="sidebar-after-post-content">
          <section id="text-2" class="widget widget_text"><h2 class="widget-title">After Post Content Widget</h2>			<div class="textwidget"><p>This is a widget in the "After Post Content" widget area. It's a great place to include related posts or an email optin form.</p>
        </div>
      </section>	</div>-->
      <div class='entry-meta-bottom'>
        <!--<nav class="further-reading">
        <p class="prev">
        <span>Previous Post</span>
        <a href="https://www.competethemes.com/tracks-live-demo/another-awesome-post/">Another Awesome Post</a>
      </p>
      <p class="next">
      <span>No Newer Posts</span>
      <a href="https://www.competethemes.com/tracks-live-demo">Return to Blog</a>
    </p>
  </nav>-->

</div>
</div>
</div>

</div>

<!--</div>--> <!-- .main -->


{{ end }}
