<footer id="site-footer" class="site-footer" role="contentinfo">
			{{ with .Site.Params.Slogan }}
			<p class="site-description">{{ . | default "" | safeHTML }}</p>
			{{ end }}

		<div id="menu-footer" class="menu-container menu-footer" role="navigation">
		<div class="menu">

      <ul id="menu-footer-items" class="menu-footer-items">
        {{ range $name, $taxonomy := .Site.Params.Navlinks }}
        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a href="/{{ $taxonomy.url | urlize }}">{{ $taxonomy.name }}</a></li>
        {{ end }}
</ul>

</div>	</div>

<ul class="social-media-icons">

        {{ with .Site.Params.social.facebook }}
				<li>
					<a class="facebook" target="_blank"
					   href="{{ . }}" >
						<i class="fa fa-facebook" title="facebook"></i>
						<span class="screen-reader-text">facebook</span>
					</a>
				</li>
        {{end}}

        {{ with .Site.Params.social.googleplus }}
				<li>
					<a class="googleplus" target="_blank"
					   href="{{ . }}" >
						<i class="fa fa-google-plus" title="googleplus"></i>
						<span class="screen-reader-text">googleplus</span>
					</a>
				</li>
        {{end}}


        {{ with .Site.Params.social.twitter }}
        <li>
        <a href="{{ . }}"  class="twitter" target="_blank">
            <i class="fa fa-twitter-square" title="twitter"></i>
            <span class="screen-reader-text">twitter</span>
        </a>
        </li>
        {{end}}

        {{ with .Site.Params.social.instagram }}
        <li>
        <a href="{{ . }}"  class="twitter" target="_blank">
            <i class="fa fa-instagram" title="instagram"></i>
            <span class="screen-reader-text">instagram</span>
        </a>
        </li>
        {{end}}

        {{ with .Site.Params.social.email }}
        <li>
        <a href="mailto:{{ . }}"  class="email">
            <i class="fa fa-envelope" title="email"></i>
            <span class="screen-reader-text">email</span>
        </a>
        </li>
        {{end}}

        {{ with .Site.Params.social.linkedin }}
        <li>
        <a href="{{ . }}" class="linkedin" target="_blank">
            <i class="fa fa-linkedin" title="linkedin"></i>
            <span class="screen-reader-text">linkedin</span>
        </a>
        </li>
        {{end}}

        {{ with .Site.Params.social.stackoverflow }}
        <li>
        <a href="{{ . }}"  class="stackoverflow" target="_blank">
            <i class="fa fa-stack-overflow" title="stackoverflow"></i>
            <span class="screen-reader-text">stackoverflow</span>
        </a>
        </li>
        {{end}}


        {{ with .Site.Params.social.github }}
        <li>
        <a href="{{ . }}"  class="github" target="_blank">
            <i class="fa fa-github" title="github"></i>
            <span class="screen-reader-text">github</span>
        </a>
        </li>
        {{end}}


        {{ with .Site.Params.social.pinterest }}
        <li>
        <a href="{{ . }}"  class="pinterest" target="_blank">
            <i class="fa fa-pinterest" title="pinterest"></i>
            <span class="screen-reader-text">pinterest</span>
        </a>
        </li>
        {{end}}

        {{ if .Site.Params.social.rss }}
        <li>
        <a href="{{ .Site.RSSLink }}" data-animate-hover="pulse" class="rss" target="_blank">
            <i class="fa fa-rss" title="rss"></i>
            <span class="screen-reader-text">rss</span>
        </a>
        </li>
        {{end}}

				</ul>	<div class="design-credit">
		{{ range .Site.Params.copyright }}
		<p>{{ . | markdownify }}</p>
		{{ else }}
		<p>
			Nederburg Hugo Theme by <a target="_blank" href="https://appernetic.io">Appernetic</a>.
		</p>
		<p>
			A port of Tracks by Compete Themes.
		</p>
		{{ end }}
	</div>
</footer>
