{{$src := .Get 0}}
{{$alt := .Get 1}}
{{$title := .Get 2}}

{{if $title}}
    <figure>
        <img alt="{{$alt}}" src="{{$.Site.Params.img_base_url}}{{$src}}"/>
        <figcaption>
            <h4>{{$title}}</h4>
        </figcaption>
    </figure>
{{else}}
    <img alt="{{$alt}}" src="{{$.Site.Params.img_base_url}}{{$src}}" style="margin-bottom: 20px;"/>
{{end}}